html, body {
    padding:0;
    margin:0;
    height:100vh;
}

body {
    display:grid;
    grid-template: 
        'o c s' 1fr
    / 1.5fr 1fr 1.5fr;
    background:hsla(0,0%,15%,1);
}

.controls {
    grid-area:c;
    display:grid;
    align-content:center;
    background:hsla(0,0%,10%,1);
    color:hsla(0,0%,80%,1);
    width:100%;
    padding:10%;
    box-sizing:border-box;
    box-shadow:0 0 10px hsla(0,0%,0%,0.5);
}

.controls > * {
    width:100%;
}

.controls label:not(:first-of-type) {
    margin-block-start:2em;
}

input {
    margin:0; 
    padding:0;
}

input:disabled {
    cursor:not-allowed;
}


/***
canvas
***/

canvas {
    align-self:center;
    justify-self:center;
    max-width:90%;
    max-height:90%;
    display:block;
    box-shadow:0 0 30px hsla(0,0%,0%,0.5);
    border:thick solid hsla(0,0%,90%,0.5);
}

canvas#el_original {
    grid-area:o;
}

canvas#el_sorted {
    grid-area:s;
}
